$checkbox-width: 16px;
$color-checkbox-width: 32px;

.checkbox {
    input[type="checkbox"] {
        position: absolute;
        left: -9999px;
        z-index: 1;

        & + label {
            font-size: 0.85em;
            position: relative;
            display: block;
            padding: 6px 10px 6px ($checkbox-width + 10);
            cursor: pointer;
            user-select: none;

            &:before {
                display: block;
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                margin: (-$checkbox-width / 2) 0 0;
                width: $checkbox-width;
                height: $checkbox-width;
                box-sizing: border-box;
                border: 2px solid #E5E5E5;
                border-radius: 3px;

                font-weight: 900;
                font-size: .9em;
                line-height: 17px;
                padding-left: 3px;
                background-color: #FFFFFF;
                background-position: center;
                color: #FF4386;

                transition: all .12s ease-in-out;
            }
        }

        &:disabled {
            & + label {
                cursor: not-allowed;

                &:before {
                    // background-position: (-$checkbox-width*2) 0;
                }
            }

            // Disabled checked
            &:checked + label {
                &:before {
                    // background-position: (-$checkbox-width*3) 0;
                }
            }
        }

        // Checked
        &:checked + label {
            &:before {
                content: "✔";
                color: #FFFFFF;
                background-color: #FF4386;
                border: none;
            }
        }
    }

    &.color-checkbox {
        width: $color-checkbox-width;
        height: $color-checkbox-width;

        input[type="checkbox"] {
            & + label {
                display: inline-block;
                padding: 0;

                &:before {
                    background-color: inherit;
                    border-radius: 100%;
                    width: $color-checkbox-width;
                    height: $color-checkbox-width;
                    margin: (-$color-checkbox-width / 2) 0 0;
                    border: 8px solid #FFFFFF;
                    box-shadow: 0 2px 4px #D7D7D7;
                }

                &.light-color {
                    &:before {
                        border-color: #3C3C3C;
                    }
                }

                &.dark-color {
                    &:before {
                        border-color: #FFFFFF;
                    }
                }

                &:hover {
                    &:before {
                        border-width: 6px;
                    }
                }
            }

            &:checked {
                & + label {
                    &:before {
                        content: "";
                        background-position: center;
                        background-repeat: no-repeat;
                        border-width: 2px;
                    }

                    &.light-color {
                        &:before {
                            background-image: url("data:image/svg+xml; base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxNScgaGVpZ2h0PScxNSc+PHBhdGggZmlsbD0nIzMzMzMzMycgZD0nTTEyLjQzOSwzLjg0NmwtNi4zMDgsNi44MTdsLTAuNjE4LDAuNjY4bC0wLjU5My0wLjY5bC0zLjM2LTMuOTA4bDEuMDk2LTEuMTgxbDIuNzIxLDIuMDA1bDUuOTUyLTQuODg4IEwxMi40MzksMy44NDZ6Jy8+PC9zdmc+");
                        }
                    }

                    &.dark-color {
                        &:before {
                            background-image: url("data:image/svg+xml; base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxNScgaGVpZ2h0PScxNSc+PHBhdGggZmlsbD0nI0ZGRkZGRicgZD0nTTEyLjQzOSwzLjg0NmwtNi4zMDgsNi44MTdsLTAuNjE4LDAuNjY4bC0wLjU5My0wLjY5bC0zLjM2LTMuOTA4bDEuMDk2LTEuMTgxbDIuNzIxLDIuMDA1bDUuOTUyLTQuODg4IEwxMi40MzksMy44NDZ6Jy8+PC9zdmc+");
                        }
                    }

                    &:hover {
                        &:before {
                            border-width: 0px;
                        }
                    }
                }
            }
        }
    }
}
