.Footer {
    background-color: #FFFFFF;

    .muted {
        color: #ACACAC;
    }

    .heart {
        color: #FF0000;
    }

    a {
        color: #FF4386;
        text-decoration: none;
    }
}
