.Filters {
    background-color: #FFFFFF;
    padding: 15px 25px;
    margin: 5px;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 0 2px rgba(0, 0, 0, 0.1);
    display: inline-block;

    .footer {
        border-top: 2px solid #F3F3F3;
    }
}
